.card-body 
{
    background-color:rgb(181, 211, 231);
}
<!--
fieldset
{
    background-color: rgb(76, 70, 70);
    height: 100px;
    color: white;
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  } 
-->